<div class="row">
<div class="col-md-6 col-md-offset-3">
<h1>Add your new url</h1>
<% if !@address.nil? %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%@address.errors.full_messages.each do |msg| %>
      <%= msg %><br/>
    <% end %>
  </div>
<% end %>

<%= form_for :address, url: addresses_path do |f| %>
  <p>
    <%= f.text_field :url,  placeholder: "http://just_type_your_super_long_url_here_and_we_will_shorten_it", class: 'input-large' %>
  </p>
  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>
</div>
</div>
